<ion-content>
  <div class="header">
    <ion-header class="ion-no-border">
      <ion-toolbar mode="ios">
        <ion-title>
          Dashboard</ion-title>
        <ion-buttons slot="start">
          <ion-menu-toggle autoHide="false">
          <ion-button (click)="toggleMenu()" >
            <ion-icon  slot="icon-only" name="menu" ></ion-icon>
          </ion-button>
        </ion-menu-toggle>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="headercontent">
      <h1>RK Study Circle</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, nulla!</p>
    </div>

    <div class="logo"></div>
  </div>

  <div class="container">

  <div class="userform">
    
  <ion-card>
    <div class="formlabel">Email Id:</div>
    <ion-item line="none">      
      <ion-icon slot="start" name="at"></ion-icon>
      <ion-label>
        <ion-input type="text" placeholder="email id"></ion-input>
      </ion-label>     
    </ion-item>
  </ion-card>

  <ion-card>
    <div class="formlabel">Password:</div>
    <ion-item line="none">      
      <ion-icon slot="start" name="key"></ion-icon>
      <ion-label>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-label>     
    </ion-item>
  </ion-card>

  <div class="forgotpass">
    <p>Forgot Password?</p>
  </div>

  <div class="headerbtns">
    <ion-button shape="round"  class="btn1">
      <ion-icon slot="start" name="key"></ion-icon>
      Login
    </ion-button>

    
  </div>

  <div class="register">
    <p>You don't have an account?</p>
  </div>

  <div class="btnregister">
    <ion-button shape="round" >
      <ion-icon slot="start" name="person"></ion-icon>
      Register
    </ion-button>
  </div>

</div>

  </div>


</ion-content>
