.header {
    height: 250px;
    background: linear-gradient(to right, orange, #ffffff);  

    ion-toolbar {
        font-family: 'Poppins-Bold';
        --background:transparent;
        color:var(--textcolor2);


    ion-icon{
        color:var(--textcolor2);
    }

    .notification {
        ion-badge {
            --background:var(--maincolor1);
        }
    }
    }


    .headercontent{
        ion-slides {
            height: 100%;
            width: 100%;
            --bullet-background-active :#fff;     
            background: linear-gradient(to right, orange, #ffffff);       
        }

        .slide1 {
            text-align: center;

            p{
                padding-top: 50px;
                font-size: 14px;                
                color: var(--textcolor2);

            }
            .centerItem {
                text-align: center;
                text-transform: none;
                ion-button {
                    --background:var(--maincolor1);
                    text-transform: none;
                }
            }

            .slideimg{
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }   
}

.container{
    margin-top: 40px; 
   
    .titleToolbar{
        --background: transparent;
        color:var(--maincolor2);
        ion-button {
            text-transform: none;
            color:var(--maincolor1);
        }
    }

    .categoriesSlides {
        ion-slide {
            width:100px;
            height: 100px;
        }
    }

    .booksslide {
        ion-slide {
            width: 100%;
            height: 100px;
            border:1px solid rgb(216, 213, 213);

            .coverImg {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    .latestnews{
        ion-card{
            width: 200px;
            border-top-left-radius: 30px; 
            border-top-right-radius: 30px;
            ion-card-header {
                width: 100%;
                height: 120px;
                //background: linear-gradient(to right, rgb(255, 255, 255), green);   
                margin: 0;
                padding: 0;
                border:0;   

                .coverImg2{
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 100%;
                }   
                
                ion-card-content{
                    --background:#ffffff;
                    h3,p{
                        text-align: left;
                        color: var(--maincolor2);
                    }
                }
            }

            
        }
    }


    
}





